.howitwork__container {
  text-align: center;
  position: relative;
}

.howitwork__line {
  height: 1px;
  width: 80vw;
  margin: 0 auto;
  border: 1px solid #E4E4E4;
  margin-top: 590px;
  margin-bottom: 67px;
}

.mobile__title {
  display: none;
}

.howitwork__content h1 {
  font-family: var(--font-family-title);
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.8;
}

.howitwork__content-screenshots-container .screenshot__card:nth-child(2) {
  flex-direction: row-reverse;
}
 
@media screen and (min-width: 1990px) {
  .howitwork__line {
    margin-top: 290px;
  }
}

@media screen and (max-width: 1150px) {

  .howitwork__content-screenshots-container .screenshot__card:nth-child(2) {
    flex-direction: column-reverse;
  }

}

@media screen and (max-width: 590px) {
  .howitwork__line {
    margin-top: 130vw;
    margin-bottom: 47px;
    width: 90vw;
  }

  .howitwork__content h1 {
    display: none;
  }

  .mobile__title {
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -69px);
    width: fit-content;
  }
}
@media screen and (max-width: 351px) {
  .howitwork__line {
    margin-top: 150vw;
  }
}