.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.footer__container svg {

}

.footer__socials {

}

@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 590px) {


}